{
    "mqtt": {
        "host": "localhost",
        "port": "1883",
        "topic": "THP/DATA",
        "username": "",
        "password": ""
    },

    "gpio": {
        "DHT11":    7,
        "green_led": 11,
        "red_led": 12
    },
    "interval": 5
}
